@model UserModel;

@{
    ViewData["Title"] = "Index";
}

<form method="post">
    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
    </div>
    <div>
        <label asp-for="MiddleName"></label>
        <input asp-for="MiddleName" />
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
    </div>
</form>